/*
    content styles like tiles headers
*/

#tile-container {
    /*max-width: 1440px;*/
    max-width: 1200px;
}

#tile-container3 {
    /*max-width: 1440px;*/
    max-width: 960px;
}

#tile-container.dashboard {
    max-width: 960px;
}

#tile-container {
    /*border: 1px solid red;*/
}

.featured-content {
    width: 470px;
    height: 435px;
    position: relative;
}

.landscape-content {
    width: 470px;
    height: 195px;
    position: relative;
}

.portrait-content {
    width: 195px;
    height: 435px;
    position: relative;
}

.normal-content {
    width: 230px;
    height: 195px;
    position: relative;
}

.main-cnt-header {
    line-height: 60px;
    /*border: 1px solid blue;*/
}

.quicklinks {
    display: inline-block;
    font-weight: bold;
}

.quicklinks li:first-child {
    padding-left: 0px;
}

.quicklinks li {
    display: inline;
    border-right: 3px solid #444444;
    padding-right: 10px;
    padding-left: 10px;
}

.quicklinks li a {
    text-decoration: none;
    color: #898989;
    font-size: 14px;
}

.quicklinks li.active,
.quicklinks li.active a {
    color: #1480be;
    text-decoration: none;
}

.quicklinks li:last-child {
    border: none
}

.video-container {
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border: 10px #333 solid;
}

#videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;
}

button, a.button {
    font-family: Roboto, Arial, Helvetica, Sans-serif;
    font-weight: bold;
    outline: 0;
    display: inline-block;
    background: #1595d3;
    background-repeat: no-repeat;
    border: 0 solid transparent;
    color: #fff;
    border-radius: 2px;
    padding: 11px;
    line-height: 1em;
    text-decoration: none;
    margin: 10px;
}

a.button.full, button.full {
    width: 90%;

    text-align: center;
}

a.orange {
    background: #d38929;
    padding: 20px;
    font-size: 16px;
}

a.orange-dark {
    background: #A56B1F;
    padding: 10px;
    font-size: 14px;
}

/* tiles setting */
.tile {
    /*border: 1px solid grey;*/
    display: inline-block;

    /*width:228px;*/
    width: 228px;
    height: 228px;
    position: relative;

    -webkit-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.37);
    -moz-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.37);
    box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.37);
    margin: 0px 0px 8px 0px;

    overflow: hidden;

    margin: 5px;
    padding: 0px;

}

.overview .tile {
    background-color: #1595d3;
}

.tile h1.black, .tile h2.black, .tile h2.black a {
    /*background: rgba(0, 0, 0, 0.3);*/
    color: #676767;
}

.tile a {
    color: #ffffff;
    text-decoration: none;
}

.video-tile {
    height: 343px;
}

.small-tile {
    width: 238px;
    height: 230px;
}

.landscape-tile {
    width: 468px;
}

.portrait-tile {
    height: 468px;
}

.portrait-tile.tile h2 {
    position: absolute;
    top: 0;
    right: 0;
}

.featured-tile {
    width: 468px;
    height: 468px;
}

.long-landscape-tile {
    width: 708px;
}

.featured-tile.feature {
    background-image: url("../img/backgrounds/finanzanalyse.jpg");
    background-size: 100% 100%;
}

.featured-tile h1 {
    /*color: #676767;*/
    color: white;
    text-align: right;
    text-transform: uppercase;
    font-weight: normal;
    text-shadow: 1px 1px 1px rgba(30, 30, 30, 1);
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 48px;
    position: absolute;
    top: 0;
    right: 0;
}

/*.featured-tile .tile-desc{*/
/*padding-left: 40% !important;*/
/*}*/

.featured-tile .tile-desc-overlay {
    height: 170px !important;
}

.tile.featured-tile .tile-desc {
    padding: 0 25px;
}

.featured-tile .tile-desc .button-wrapper {
    margin-bottom: 10px;
}

.featured-tile .tile-desc .button-wrapper .button {
    margin-right: 20px;
}

.featured-tile .tile-desc .button-wrapper .load-more-link {
    font-weight: bold;
}

.tile.featured-tile .tile-desc .content {
    margin-bottom: 40px;
}

label {
    font-weight: bold;
}

/*.featured-tile .tile-desc*/

.featured-tile .tile-desc h3, .featured-tile .tile-desc h2, .landscape-tile .tile-desc h2 {
    text-align: left !important;
}

.option-wrapper, .tile-option {
    background-color: #cccccc;
    /*background: rgba(0, 0, 0, 0.3);*/
    position: absolute;
    bottom: 0;
    /*line-height: 37px;*/
    height: 35px;
    display: block;
    width: 100%;
}

.option-top-wrapper {
    padding: 5px;
    /*background-color: #cccccc;*/
    /*background: rgba(0,0,0,0.3);*/
    position: absolute;
    height: 32px;
    display: block;
    width: 100%;
}

.option-table {
    display: table;
    /*background-color: #cccccc;*/
    height: 32px;
    width: 98%;
}

.option-table li {
    float: left;
    width: auto;
    display: inline;
    padding-top: 9px;
}

.option-table li a {

}

.tile h2 {
    /*color: #676767;*/
    color: white;
    text-align: right;
    text-transform: uppercase;
    font-weight: normal;
    text-shadow: 1px 1px 1px rgba(30, 30, 30, 1);
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 24px;
    position: relative;
}

.tile .tile-desc {
    position: absolute;
    bottom: 37px;
    padding: 10px;
    color: white;
}

.tile .tile-desc-overlay {
    position: absolute;
    bottom: 35px;
    opacity: .20;
    filter: alpha(opacity=20);
    background: rgb(9, 9, 9); /* The Fallback */
    /*background-color:  rgba(0, 0, 0, 0.6); */
    padding: 10px;
    color: white;
    /*height: 60px;*/
    width: 100%;
}

.tile .tile-desc-landscape-overlay {
    position: absolute;
    bottom: 0px;
    opacity: .20;
    filter: alpha(opacity=20);
    background: rgb(9, 9, 9);
    /*The Fallback */
    /*background-color:  rgba(0, 0, 0, 0.6); */
    padding: 10px;
    color: white;
    height: 100%;
    width: 50%;
}

.tile .tile-desc .content {
    margin-bottom: 15px;
}

.tile .tile-desc h2 {
    margin-bottom: 10px;
}

.tile .tile-desc h3 {
    font-weight: bold;
    font-size: 14px;
}

.tile .tile-desc .button {
    background-color: #0093d1;
    padding: 5px;
    font-size: 14px;
    font-weight: bolder;
}

.tile .tile-light-title {
    position: absolute;
    top: 50%;
    width: 100%;
    padding: 5px 10px;
}

.tile .tile-light-title-overlay {
    position: absolute;
    top: 50%;
    width: 100%;
    /*height: 40px;*/
    opacity: .7;
    filter: alpha(opacity=70);
    background: rgb(255, 255, 255); /* The Fallback */
    /*background-color: rgba(255,255,255,0.7);*/
    padding: 5px 10px;

    -webkit-background-size: 100%;
    background-size: 100%;
}

.tile .tile-light-title h3 {
    font-size: 14px;
    font-weight: bold;
}

.tile.news {
    background-image: url("../img/backgrounds/LUKB-tempNEWS.png");

}

.tile.adviser {
    background-image: url("../img/backgrounds/berater.png");
    -webkit-background-size: 59% 100%;
    background-size: 59% 100%;
    -ms-background-position-x: 120%;
    background-position: 122%;
    background-repeat: no-repeat;
}

.tile.video {
    background-image: url("../img/backgrounds/kobler.png");
}

.tile.couple {
    background-image: url("../img/backgrounds/couple.png");
}

.tile.product {
    background-image: url("../img/backgrounds/products.png");
}

.tile.tools {
    background-image: url("../img/backgrounds/hypo.jpg");
    background-position: 0 112px;
    background-repeat: no-repeat;
}

.tile.privatsache {
    background-image: url("../img/backgrounds/privatsache.png");
}

.tile.aktuell {
    background-image: url("../img/backgrounds/aktuell.png");
}

.tile.aktuell2 {
    background-image: url("../img/backgrounds/aktuell2.png");
}

.tile.couple2 {
    background-image: url("../img/backgrounds/couple2.png");
}

.tile.couple3 {
    background-image: url("../img/backgrounds/couple3.png");
}

.tile.privileg50 {
    background-image: url("../img/backgrounds/privileg50.png");
}

.tile.vision {
    background-image: url("../img/backgrounds/vision.png");
}

.tile.pie {
    background-image: url("../img/backgrounds/pie.png");
}

.tile.privatsache2 {
    /*background-image: url("../img/backgrounds/privatsache2.png");*/
    background-image: url("../img/backgrounds/privatsache3_neu.png");
    background-repeat: no-repeat;
}

.tile.event2 {
    background-image: url("../img/backgrounds/event.png");
}

.tile.news {
    background-image: url("../img/backgrounds/news.png");
}

.tile.news2 {
    background-image: url("../img/backgrounds/news2.png");
}

.tile.unternehmerforum {
    background-image: url("../img/backgrounds/unternehmerforum.png");
}

.tile.mortgage {
    padding: 20px;
}

.tile.products2 {
    background-image: url("../img/backgrounds/products3.jpg");
    -webkit-background-size: 100%;
    background-size: 100%;
    background-position: 0px 135px;
    background-repeat: no-repeat;
}

.tile.products2.products2-dashboard {
    background-position: 0 0;
}

.overview .tile.no-background {
    background-color: initial;
}

.landscape-tile.event {
    background-image: url("../img/backgrounds/hallwyl.jpg");
    background-position-x: right;
    -webkit-background-size: 50% 100%;
    background-size: 50% 100%;
    background-repeat: no-repeat;
}

.landscape-tile .tile-desc {
    position: absolute;
    width: 50%;
    top: 0px;
    left: 0px;
    /*padding-left: 10px;*/
    padding: 40px 0 0;

}

.landscape-tile .tile-desc .content, .landscape-tile .tile-desc h2, .landscape-tile .tile-desc h3 {
    margin-left: 10px;
}

.landscape-tile .tile-desc h3 {
    text-align: left;
}

.long-landscape-tile .video {
    position: absolute;
    right: 0px;
    width: 50%;
    height: 191px;
    padding-top: 30px;
    background-color: #000000;
}

.long-landscape-tile .video video {
    margin-left: 50px;
}

.content {
    padding-left: 10px;
    padding-top: 10px;
}

.content .document {
    margin-top: 20px;
}

.content .password {
    margin-top: 20px;
}

.content .password label {
    font-weight: bold;
}

.content img.full {
    width: 100%;
}

/* banking specific tiles*/
.bank-container {
    width: 486px;
    height: 470px;
}

.profile-dashboard {
    width: 470px;
    height: 470px;
    border: none;
    -webkit-box-shadow: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px;

}

.bank-tile {
    /*border: 1px solid transparent;*/
    background-image: -webkit-gradient(radial, 185px at 98% 98%, 0, 185px at 98% 98%, 100, color-stop(0%, #adcae1), color-stop(100%, #1595d3));
    background-image: -webkit-radial-gradient(185px at 98% 98%, #adcae1, #1595d3);
    background-image: -moz-radial-gradient(185px at 98% 98%, #adcae1, #1595d3);
    background-image: -o-radial-gradient(185px at 98% 98%, #adcae1, #1595d3);
    background-image: radial-gradient(185px at 98% 98%, #adcae1, #1595d3);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    display: block;
    float: left;
    width: 228px;
    height: 228px;
    position: relative;
    color: white;
    padding: 0px;
}

.colored-tile {
    border: 1px solid transparent;
    background-image: -webkit-gradient(radial, 185px at 98% 98%, 0, 185px at 98% 98%, 100, color-stop(0%, #adcae1), color-stop(100%, #1595d3));
    background-image: -webkit-radial-gradient(185px at 98% 98%, #adcae1, #1595d3);
    background-image: -moz-radial-gradient(185px at 98% 98%, #adcae1, #1595d3);
    background-image: -o-radial-gradient(185px at 98% 98%, #adcae1, #1595d3);
    background-image: radial-gradient(185px at 98% 98%, #adcae1, #1595d3);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.register {
    margin: 0px;
}

.bank-tile .tile-option {
    background: none;
    line-height: 32px;
}

.bank-tile .tile-option a {
    color: white;
    /*text-transform: uppercase;*/
    font-weight: bold;
    /*border-right: 2px solid white;*/
    /*border-left: 2px solid white;*/
    padding: 0 5px;
    line-height: 20px;
    float: right;
    margin-right: 5px;
}

.bank-tile p {
    padding: 10px;
    font-size: smaller;
}

.bank-tile a {
    padding: 5px 10px;

}

.bank-tile a.bold-link {
    font-weight: bold;
}

.bank-tile h2 {

}

.grouped-tile {
    width: 468px;
    height: 468px;
    margin-left: 5px;
}

.dashboard {
    width: 468px;
    height: 468px;

}

.grouped-tile-3col {
    width: 470px;
    height: 710px;
    margin-bottom: 8px;
    padding: 5px;
}

.setting-tile-3col {
    width: 470px;
    height: 710px;
    border: none;
    -webkit-box-shadow: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px;
    /* margin-bottom: 8px;
     padding:0px;
     margin:5px;*/
}

.tile.detailpage-tile a {
    color: #1595d3;
}

.detailpage-tile .content ul li:before {
    content: '- ';
}

.detailpage-tile-3col {
    width: 468px;
    height: 710px;

    margin-bottom: 8px;
}

.detailpage-tile-5col {
    width: 468px;
    height: 1193px;
    margin-bottom: 8px;
}

.bank-tile h2 {
    color: white;
    margin-bottom: 0px;
}

.bank-tile h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
}

.bank-tile p {
    text-align: left;
    padding: 0px;
    font-size: 13px;
}

.bank-tile p.right {
    text-align: right;
    padding-right: 10px;
    font-size: 13px;
}

.task {
    color: #ffffff;
    font-size: 13px;
    padding-top: 20px;
    padding-left: 10px;
}

.task a {
    /*text-decoration: none;*/
    color: #ffffff;
    font-weight: bold;
    padding: 0;
}

.bank-tile span {

}

.date {
    padding-top: -80px;
    font-size: 16px;
    color: #FFFFFF;
}

#mainmenu {
    padding-left: 5px;
    width: 100%;
}

.profile a {
    color: white;
    text-decoration: none;
    padding: 0px;

}

.profile-image {
    background-image: url('../img/backgrounds/eric.png');
}

.socialmedia {
    width: 100%;
    padding-left: 10px;
    padding-top: 30px;
}

.socialmedia li {
    float: left;
    width: 40px;
}

.grey {
    background-color: #999999;
}

.dashboard_content {
    padding-left: 40px;
}

.dashboard_ddl {
    width: 150px;
}

.dashboard_cb {
    width: 100%;
}

.dashboard_cb p {
    color: #fff;
    font-weight: bold;
    font-size: 13px;
}

.dashboard_cb h4 {
    color: #b4b4b4;
    font-size: 16px;
    font-weight: bold;
}

.dashboard_right {
    float: right;
    width: 50%;
}

.dashboard_left {
    float: left;
    width: 50%;
}

.dashbord_btn {
    padding: 5px;
    background-color: #bbbbbb;
    position: absolute;
    bottom: 0;
    height: 32px;
    display: block;
    width: 100%;
    float: right;
}

.dashboard_btn_save {
    float: right;
    padding-right: 20px;
}

.dashboard_btn_save input {
    padding: 3px 10px;
}

.color-grey h2 {
    text-align: left;
    color: #555555;
    padding-top: 60px;
    padding-left: 40px;
    font-size: 30px;
}

.color-grey h3 {
    text-align: left;
    color: #555555;
    font-size: 16px;
    padding-top: 20px;
    font-weight: bold;
}

.color-grey p.teaser {
    text-align: left;
    color: #555555;
    font-size: 13px;
    padding-top: 10px;
    font-weight: bold;

}

.color-grey p {
    text-align: left;
    color: #555555;
    font-size: 13px;
    padding-top: 10px;
    line-height: 18px;
}

#container-filtering {
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    /*display:none;*/
}

.keyword-tile {
    margin-top: 10px;
    text-align: center;
    width: 220px;
    padding-left: 0px;
    padding-right: 0px;
}

.keyword-tile input {
    color: white;
    background-color: #1c82c7;
    padding: 5px 0px;
    /*margin-right: 10px;*/
    margin-bottom: 10px;
    border: 0px solid;
    display: inline-block;
}

.keyword-tile2 input {
    color: white;
    background-color: #1c82c7;
    padding: 5px 5px;
    margin-bottom: 10px;
    border: 0px solid;
    display: inline-block;
}

.cursor-pointer {
    cursor: pointer;
}

.keyword-tile input:focus {
    outline: none;
}

.tile-option-black {
    padding: 5px;
    position: absolute;
    bottom: 0;
    height: 32px;
    display: block;
    width: 100%;
}

.tile-option-black a {
    color: #555555;
    /*text-transform: uppercase;*/
    font-weight: bold;
    /*border-right: 2px solid #555555;*/
    /*border-left: 2px solid #555555;*/
    padding: 0 5px;
    line-height: 20px;
    float: right;
    margin-right: 5px;
}

.detailpage-tile-3row1col {
    width: 240px;
    min-height: 710px;
    height: auto;
    margin-bottom: 8px;
}

.detailpage-tile-5row3col {
    width: 698px;
    min-height: 1188px;
    height: auto;
    margin-bottom: 8px;
}

.detailpage-tile-5row2col {
    width: 468px;
    /*min-height: 1188px;*/
    height: auto;
    margin-bottom: 8px;
}

div.subtext {
    background-color: #1595d3;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 20px;
    color: white;
}

#sign_up {
    /*font-size:14px;
    color:white;
    font-weight:bold;
    background: #1595d4;
    border: 1px solid #536376;
    -webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
    -moz-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
    padding: 14px 22px;
    width: 400px;*/
    background: white;
    position: relative;
    display: none;
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    /*margin: 0 auto 20px;*/
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-signin .form-signin-heading, .form-signin .checkbox {
    color: rgb(51, 51, 51);
    display: block;

    font-size: 32px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    text-rendering: optimizelegibility;
    width: 300px;
}

.form-signin input[type="text"], .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

.btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-large {
    padding: 11px 19px;
    font-size: 17.5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

p.alertify-message {
    margin: 0 0 20px;
    font-size: 14px;
}

div.contact {
    padding-top: 10px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
}

.modal {
    width: 900px;
    margin-left: -350px;
}

.modal-body {
    max-height: 500px;
    height: 500px;
}

.modal .left {
    width: 30%;
    float: left;
    height: 100%;
}

.modal .right {
    width: 68%;
    height: 100%;
    float: right;
    background-color: lightgray;
}

.bottom {
    position: absolute;
    bottom: 0;
    margin: 20px;
}

.bottom input {
    width: 540px;
}

.right .entry {
    padding: 10px;
}

div.address {
    margin: 20px 0 30px;
}

@media only screen and (max-width: 1024px) {
    .long-landscape-tile {
        width: 468px;
    }

    .long-landscape-tile .video video {
        margin-left: 0;
    }

    .modal {
        width: 90%;
        margin-left: -45%;
    }

    .detailpage-tile-5row3col {
        width: 468px;
    }

    .detailpage-tile-5row2col {
        width: 412px;
    }

    #search-block, #advice-block {
        display: block!important;
    }

}