/*
  Icon definition
*/

#menu-drawer {
	width: 42px;
	cursor:pointer;
}
.small-icon{
    width: 20px;
    height: 20px;
    display: table-cell;
    /*display: inline-block;*/
    background-color: #808080;
    /*line-height: 20px;*/
    background-position: left center;
    background-repeat: no-repeat;
    background-color: transparent;
    line-height: 20px;
    vertical-align: middle;
}


.small-icon:first-child{
    margin-left: 10px;
}


.setting-icon{
    float: right;
    margin-top: 22px;
    width: 25px;
    height: 25px;
    background: url('../img/icons/setting.png') transparent no-repeat;
}

.slider-icon{
    background-image: url('../img/icons/slider.png');
    width: 42px;
    height: 34px;
}

.slider-icon-white{
   
	background-image: url('../img/backgrounds/sidenav_white.png'); 
	width:42px;
	height:282px;
	/*background-image: url('../img/icons/slider_old.png'); 
    width: 42px;
    height: 34px;*/
}

.bookmark-li, .love-li, .eye-li, .chat-li, .star-li {
	padding-left: 10px;
}

.featured-tile .love-li {
	padding-left: 120px;
}

.bookmark {width:14px;}



.share-li {
	float:right ! important;
}

.share-li p {
	padding-top: 3px;
}

.share-li h5 {
	font-size:20px;
	color:#676767;
}

.detail {
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-o-background-size: 100% 100%;
}

.detail2{
	background-size: 100% auto;
	-moz-background-size: 100% auto;
	-webkit-background-size: 100% auto;
	-o-background-size: 100% auto;
}

.net {
	 background-image: url('../img/backgrounds/net.png');
	 background-repeat:no-repeat;
}

.comment {
	background-image: url('../img/backgrounds/comment.png');
	 background-repeat:no-repeat;
	 width: 462px;
	 height:607px;
}
.zkb {
	 background-image: url('../img/backgrounds/zkb.png');
	 background-repeat:no-repeat;
}

.akb {
	 background-image: url('../img/backgrounds/poster_akb.png');
	 background-repeat:no-repeat;
}

.horse {
	 background-image: url('../img/backgrounds/horse.png');
	 background-repeat:no-repeat;
}

.chefsache {
	background-image: url('../img/backgrounds/chefsache.png');
	background-repeat:no-repeat;
	cursor:pointer;
}

.chefsache2 {
	 background-image: url('../img/backgrounds/zwecknetze.png');
	 background-repeat:no-repeat;
	 cursor:pointer;
}

.zwecknetze2 {
	 background-image: url('../img/backgrounds/zwecknetze2.png');
	 background-repeat:no-repeat;
}

.galliker3{
	 background-image: url('../img/backgrounds/galliker_3.png');
	 background-repeat:no-repeat;
}

.galliker5{
	 background-image: url('../img/backgrounds/galliker_5.png');
	 background-repeat:no-repeat;
}

.transaktion {
	 background-image: url('../img/backgrounds/transaktion.png');
	 background-repeat:no-repeat;
}

.unternehmertum {
	 background-image: url('../img/backgrounds/unternehmertum.png');
	 background-repeat:no-repeat;
	 background-size: 100% auto;
	-moz-background-size: 100% auto;
	-webkit-background-size: 100% auto;
	-o-background-size: 100% auto;
	 cursor:pointer;
}

.unternehmerbank {
	 background-image: url('../img/backgrounds/unternehmerbank.png');
	 background-repeat:no-repeat;
}

.unternehmertum1 {
	 background-image: url('../img/backgrounds/unternehmertum2.png');
	 background-repeat:no-repeat;
}

.unternehmertum2 {
	 background-image: url('../img/backgrounds/unternehmertum3.png');
	 background-repeat:no-repeat;
}

.unternehmertum3 {
	 background-image: url('../img/backgrounds/unternehmertum1.png');
	 background-repeat:no-repeat;
}

.unternehmertum4 {
	 background-image: url('../img/backgrounds/unternehmertum4.png');
	 background-repeat:no-repeat;
}

.unternehmertum5 {
	 background-image: url('../img/backgrounds/unternehmertum5.png');
	 background-repeat:no-repeat;
}


.cashmanagermenu {
	background-image: url('../img/backgrounds/cashmanagermenu.png');
	background-repeat:no-repeat;
}

.cashflow3 {
	background-image: url('../img/backgrounds/cashflow.png');
	background-repeat:no-repeat;
	cursor:pointer;
}

.cashflow {
	background-image: url('../img/backgrounds/cashflow2.png');
	background-repeat:no-repeat;
	cursor:pointer;
}

.cashflow2 {
	background-image: url('../img/backgrounds/cashflow3.png');
	background-repeat:no-repeat;
	cursor:pointer;
}

.stock1 {
	 background-image: url('../img/backgrounds/stock1.png');
	 background-repeat:no-repeat;
}

.stock2 {
	 background-image: url('../img/backgrounds/stock2.png');
	 background-repeat:no-repeat;
}

#chat2 {
	background-image: url('../img/backgrounds/chat2.png');
	background-repeat:no-repeat;
	width: 736px;
	height:583px;
	padding: 0px;
	margin: 0px;
	cursor:pointer;
	display:none;
}

#chat {
	background-image: url('../img/backgrounds/chat.png');
	background-repeat:no-repeat;
	width: 736px;
	height:583px;
	padding: 0px;
	margin: 0px;
	cursor:pointer;
	display:none;
}

.detail {
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-o-background-size: 100% 100%;
}

.detail2{
	background-size: 100% 100%;
	-moz-background-size: 100% auto;
	-webkit-background-size: 100% auto;
	-o-background-size: 100% auto;
}

.kredit{
	 background-image: url('../img/backgrounds/kredit.png');
	 background-repeat:no-repeat;
	 cursor:pointer;
}

.exchange{
	 background-image: url('../img/backgrounds/exchange.png');
	 background-repeat:no-repeat;
}

.chefsache3{
	 background-image: url('../img/backgrounds/247freundschaft.png');
	 background-repeat:no-repeat;
	 cursor:pointer;
}

.freundschaft2 {
	 background-image: url('../img/backgrounds/freundschaft2.png');
	 background-repeat:no-repeat;
}

.chefsache4 {
	 background-image: url('../img/backgrounds/gewinner2.png');
	 background-repeat:no-repeat;
	 cursor:pointer;
}

.finanzanalyse {
	 background-image: url('../img/backgrounds/finanzanalyse.jpg');
	 background-repeat:no-repeat;
}

.anlageberatung {
	 background-image: url('../img/backgrounds/anlageberatung.jpg');
	 background-repeat:no-repeat;
}

.davos {
	 background-image: url('../img/backgrounds/davos.png');
	 background-repeat:no-repeat;
}

.small-icon.bookmark{
    background-image: url('../img/icons/bookmark-mini.png');
}

.small-icon.love{
    background-image: url('../img/icons/love-mini.png');
}

.small-icon.star{
    background-image: url('../img/icons/star-mini.png');
	width:25px;
}

.aktuell4 {
	 background-image: url('../img/backgrounds/aktuell5.png');
    /*-webkit-background-size: 100%;*/
    /*background-size: 100%;*/
}

.registration {
    background-image: url('../img/backgrounds/registration.png');
    background-size: 100% 100%;
}

.small-icon.popup{
    background-image: url('../img/icons/popup-mini.png');
	width:25px;
}

.small-icon.eye{
    background-image: url('../img/icons/eye-mini.png');
}

.small-icon.chat{
    background-image: url('../img/icons/chat-mini.png');
}

.small-icon.share{
    background-image: url('../img/icons/share-mini.png');
    background-position: right center;
}

.small-icon.bookmark.inactive{
    background-image: url('../img/icons/bookmark-mini-inactive.png');
}

.small-icon.bookmark.active{
    background-image: url('../img/icons/bookmark-mini-active.png');
}

.small-icon.love.inactive{
    background-image: url('../img/icons/love-mini-inactive.png');
}

.small-icon.love.active{
    background-image: url('../img/icons/love-mini-active.png');
}

.small-icon.star.inactive{
    background-image: url('../img/icons/star-mini-inactive.png');
	width:25px;
}

.small-icon.eye.inactive{
    background-image: url('../img/icons/eye-mini-inactive.png');
}

.small-icon.chat.inactive{
    background-image: url('../img/icons/chat-mini-inactive.png');
}

.small-icon.share-inactive{
    background-image: url('../img/icons/share-mini-inactive.png');
    background-position: right center;
}

.small-icon.search{
    background-image: url("../img/icons/gray-arrow.png");
    width: 34px;
    height: 34px;
}

#back-to-top {
	background-image: url("../img/icons/gray-arrow-up.png");
	width: 34px;
	height: 34px;
	float: right;
	position: absolute;
	bottom: 45px;
	left: 934px;
}


.logo{
/*
    width: 321px;
    height: 64px;
*/
	width: 239px;
    height: 47px;
    display: block;
	top: 95px;
	position: relative;
	background-image: url("../img/global/logo_akb.png");
	left: 50px;
}




.badge_old{
    background: radial-gradient( 5px -9px, circle, white 8%, red 26px );
    background-color: red;
    /*border: 2px solid white;*/
    border-radius: 12px; /* one half of ( (border * 2) + height + padding ) */
    box-shadow: 1px 1px 1px black;
    color: white;
    font: bold 15px/13px Helvetica, Verdana, Tahoma;
    height: 16px;
    min-width: 14px;
    padding: 4px 3px 0 3px;
    text-align: center;
}


.badge-wrapper-inbox{
    height: 33px;
    display: inline-block;
    vertical-align: middle;
}

.badge-wrapper{
    height: 33px;
    display: inline-block;
    vertical-align: middle;
	top: 4px;
	position: relative;
}

.badge-wrapper-td {
	float:right; 
}

.inbox{
   background-image: url('../img/badge/red_bubble-middle-bg.png');
   color: white;
   display: inline-block;
    float: left;
    height: 33px;
    line-height: 28px;
	font-weight:bold;
	font-size: 14px;
}

.inbox-left{
    background-image: url('../img/badge/red_bubble-left.png');
    width: 12px;
    height: 33px;
    display: inline-block;
    float: left;
}

.inbox-right{
    background-image: url('../img/badge/red_bubble-right.png');
    width: 16px;
    height: 33px;
    display: inline-block;
    float: left;
}

.green{
   background-image: url('../img/badge/green_bubble-middle-bg.png');
   color: white;
    display: inline-block;
    float: left;
    height: 33px;
    line-height: 28px;
	font-weight:bold;
	font-size: 14px;

}

.green-left{
    background-image: url('../img/badge/green_bubble-left.png');
    width: 12px;
    height: 33px;
    display: inline-block;
    float: left;
}

.green-right{
    background-image: url('../img/badge/green_bubble-right.png');
    width: 16px;
    height: 33px;
    display: inline-block;
    float: left;
}


.red{
   background-image: url('../img/badge/red_bubble-middle-bg.png');
   color: white;
   display: inline-block;
    float: left;
    height: 33px;
    line-height: 28px;
	font-weight:bold;
	font-size: 14px;
}

.red-left{
    background-image: url('../img/badge/red_bubble-left.png');
    width: 12px;
    height: 33px;
    display: inline-block;
    float: left;
}

.red-right{
    background-image: url('../img/badge/red_bubble-right.png');
    width: 16px;
    height: 33px;
    display: inline-block;
    float: left;
}



.yellow{
   background-image: url('../img/badge/yellow_bubble-middle-bg.png');
   color: white;
   display: inline-block;
    float: left;
    height: 33px;
    line-height: 28px;
	font-weight:bold;
	font-size: 14px;
}

.yellow-left{
    background-image: url('../img/badge/yellow_bubble-left.png');
    width: 12px;
    height: 33px;
    display: inline-block;
    float: left;
}

.yellow-right{
    background-image: url('../img/badge/yellow_bubble-right.png');
    width: 16px;
    height: 33px;
    display: inline-block;
    float: left;
}

.new-corner{
    background-image: url('../img/global/new-corner.png');
    background-repeat: no-repeat;
    width: 46px;
    height: 47px;
    position: absolute;
    top:0px;
    left: 0px;
    z-index: 500;
}

.logout-image {
	display: block;
	background-image: url('../img/icons/logout.png');
    width: 32px;
    height: 32px;
}

.logout-black-image {
	display: block;
	background-image: url('../img/icons/logout_black.png');
    width: 32px;
    height: 32px;
}

/*#advice-block {*/
	/*background-image: url('../img/backgrounds/advice-block.png');*/
    /*background-repeat: no-repeat;*/
/*}*/

.logout {
	/*position: relative;*/
	/*top: -30px;*/
	
}
a.logout  {
	/*border-right: 4px solid white ! important;*/
	/*border-left: 4px solid white ! important;*/
	margin-right: 15px ! important;
	text-decoration: none;
	font-size:30px;
	line-height: 30px ! important;
}

.more {
	left: -10px;
	font-size: 18px;
	top: 200px;
	
}

.more a {text-decoration: none;}

.green-circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
}