
#container-sidebar  ul li{
    color: #d9d9d9;
    border-bottom: solid 1px #777777;
    padding-bottom: 4px;
    padding-top: 4px;
	padding-left:20px;
}

#container-sidebar ul li a {
	color: #d9d9d9;
	text-decoration: none;
	font-weight:bold;
	white-space:nowrap;
}

#container-sidebar ul li.firstInLevel {
     color: #696969;
     border-bottom: solid 1px #777777;
 }

#container-sidebar ul li.active, #container-sidebar ul li.active a{
    color: #1c77ae !important;
	 text-decoration: none;
}

#container-sidebar ul.level_2{
    border-bottom: solid 1px #777777;

}

#container-sidebar ul.level_2 li{
    border: none;
    /*padding-left: 37px;*/
    color: #696969;
	border-bottom: solid 1px #777777;
}

#container-sidebar ul.level_2 li a{
	color: #a6a6a6;
    text-decoration: none;
}

#container-sidebar ul.level_2 li:last-child{
	border-bottom: none;
}

.mybank {
	/*background-image: url('../img/global/mybank.gif');*/
	width:152px;
	height:38px;
	display:block;
	position: relative;
	top: -13px;
	margin-top: 140px;
}

.nav-list>li>a {
	margin: 0px ! important;
	text-shadow:0 0px 0 rgba(255,255,255,0.5);
}

#navmenu {
	font-size:13px;
}

.footer-list li{ display:none ! important;}